## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/
TestResults/
publish/

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/

## OS
.DS_Store
Thumbs.db

## Logs
*.log
*.trx

## Secrets / config overrides
**/secrets.json
**/appsettings.Development.json
